[submodule "project/libogg"]
	path = project/libogg
	url = https://github.com/xiph/ogg.git
[submodule "project/libvorbis"]
	path = project/libvorbis
	url = https://github.com/xiph/vorbis.git
[submodule "project/libvpx"]
	path = project/libvpx
	url = https://chromium.googlesource.com/webm/libvpx
[submodule "project/libwebm"]
	path = project/libwebm
	url = https://chromium.googlesource.com/webm/libwebm
